body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  margin-top: 10px;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin: 0.5rem 0;
}
.footer li i {
  margin-right: 0.5rem;
}
.footer a {
  color: white;
}
.footer .logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
}
.footer ul a {
  text-decoration: none;
}
.footer ul .fas {
  padding: 5px;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

.apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 250px;
  text-align: center;
}
.apropos .paragraph_apropos {
  width: 80%;
}
.apropos .apropos_btn {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  height: 25px;
  padding: 0.75rem 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.fonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement .container {
  width: 100%;
}

ol.fonctionnement_etape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

li.fonctionnement_etape {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  counter-increment: my-awesome-counter;
  position: relative;
  text-align: center;
}

li.fonctionnement_etape::before {
  content: counter(my-awesome-counter);
  position: absolute;
  top: 25px;
  left: -10px;
  color: white;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement_icone {
  font-size: 30px;
}

.text {
  margin-left: 10px;
}

.titre_fonctionnement {
  margin: 2% 0px 0px 5%;
}

.ville {
  height: 50px;
}

.ville_texte {
  font-size: 20px;
}

.restaurants {
  width: 90%;
  margin: auto;
}
.card {
  border-radius: 20px;
}

figure img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 190px;
}

.card {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

figcaption {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}
figcaption p {
  margin: 0;
  padding: 0;
}
figcaption h4,
figcaption p {
  color: black;
}
figcaption h4 {
  font-size: 1.17em;
  font-weight: 900;
}

figure {
  padding: 0;
  margin: 0 0 10px 0;
}

.heart {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.heart .fa-heart {
  color: black;
  cursor: pointer;
}
.heart .fa-heart:hover {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.new {
  position: absolute;
  right: 0.75rem;
  top: 15px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
