body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  margin-top: 10px;
  padding: 0.5rem 0.5rem;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin: 0.5rem 0;
}
.footer li i {
  margin-right: 0.5rem;
}
.footer a {
  color: white;
}
.footer .logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
}
.footer ul a {
  text-decoration: none;
}
.footer ul .fas {
  padding: 5px;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

.apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 250px;
  text-align: center;
}
.apropos .paragraph_apropos {
  width: 80%;
}
.apropos .apropos_btn {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  height: 25px;
  padding: 0.75rem 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.titre_apropos {
  margin: 0;
}

.fonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement .container {
  width: 100%;
}

ol.fonctionnement_etape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 922px) {
  ol.fonctionnement_etape {
    padding: 10px;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  ol.fonctionnement_etape {
    padding: 10px;
    flex-direction: row;
  }
}

li.fonctionnement_etape {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  counter-increment: my-awesome-counter;
  position: relative;
  text-align: center;
}

li.fonctionnement_etape::before {
  content: counter(my-awesome-counter);
  position: absolute;
  top: 20px;
  left: -10px;
  color: white;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement_icone {
  font-size: 30px;
  color: #7e7e7e;
}

.text {
  margin-left: 10px;
  width: 200px;
  text-align: left;
  font-weight: 500;
}

.titre_fonctionnement {
  margin: 2% 0px 0px 5%;
}

i.fonctionnement_icone {
  font-size: 20px;
}

.ville {
  height: 50px;
}

.ville_texte {
  font-size: 17px;
  margin-left: 30px;
  margin-right: 20px;
  font-weight: 500;
  color: #353535;
}

.restaurants {
  width: 90%;
  margin: auto;
}
@media (min-width: 922px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 922px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}

.card {
  border-radius: 20px;
}
@media (min-width: 922px) {
  .card {
    width: 46%;
  }
}
@media (min-width: 768px) {
  .card {
    width: 46%;
  }
}

figure img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 190px;
}

.card {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

figcaption {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}
figcaption p {
  margin: 0;
  padding: 0;
}
figcaption h4,
figcaption p {
  font-weight: 300;
  color: black;
}
figcaption h4 {
  font-size: 1.17em;
  font-weight: 600;
}

figure {
  padding: 0;
  margin: 0 0 10px 0;
}

.heart {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.heart .fa-heart {
  color: black;
  cursor: pointer;
}
.heart .fa-heart:hover {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.new[data-active=true] {
  position: absolute;
  right: 0.75rem;
  top: 15px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
}

.new[data-active=false] {
  display: none;
}

.menu_a_la_carte {
  overflow-x: hidden;
}
.menu_a_la_carte * {
  margin: 0;
  padding: 0;
}
.menu_a_la_carte header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_a_la_carte header .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_a_la_carte main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.menu_a_la_carte main .container-image-dish {
  width: 100vw;
  display: flex;
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
}
@media (min-width: 922px) {
  .menu_a_la_carte main .container-image-dish {
    width: 100vw;
  }
}
.menu_a_la_carte main .container-image-dish img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}
.menu_a_la_carte main .menu-container {
  width: 100vw;
  background: #f7f7f7;
  height: auto;
}
@media (min-width: 922px) {
  .menu_a_la_carte main .menu-container {
    width: 90vw;
  }
}
.menu_a_la_carte main .menu-container .menu-header {
  width: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  transform: translateY(-50px);
  align-items: center;
}
.menu_a_la_carte main .menu-container .menu-header .header-title {
  width: 90%;
  height: 100px;
  padding-left: 20px;
  font-size: 1.9rem;
  font-family: Shrikhand, Roboto, sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu_a_la_carte main .menu-container .menu-header .icon {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_a_la_carte main .menu-container .menu-header .icon i {
  font-size: 1.8rem;
}
.menu_a_la_carte main .menu-container .dish-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 922px) {
  .menu_a_la_carte main .menu-container .dish-list-container {
    flex-direction: row;
    gap: 1rem;
    width: auto;
  }
}
.menu_a_la_carte main .menu-container .dish-list-container .dish {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-type {
  width: 100%;
  height: 25px;
  margin-left: 20px;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-type h4 {
  font-weight: 400;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-type .bar {
  display: block;
  width: 40px;
  height: 2px;
  background: #99e2d0;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list {
  width: 95%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card {
  cursor: pointer;
  width: 100%;
  height: 80px;
  display: flex;
  border-radius: 10px;
  background: white;
  box-shadow: 7px 24px 29px -3px rgba(0, 0, 0, 0.1);
  animation: card-animation;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .content {
  flex-direction: column;
  flex: 1;
  width: 100px;
  padding-top: 10px;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .content h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .content p {
  margin-left: 10px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .prise {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 20px;
  padding-right: 10px;
  font-weight: 600;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 100%;
  background: #99e2d0;
  border-radius: 0 10px 10px 0;
  transition: opacity 500ms, width 500ms, margin-left 500ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card .checkbox .icon {
  color: #fff;
  transform: rotate(90deg);
  transition: transform 500ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:hover .prise {
  margin-right: 10px;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:hover .checkbox {
  transition: opacity 500ms, width 500ms, transform 500ms;
  opacity: 1;
  width: 100px;
  height: 100%;
  background: #99e2d0;
  border-radius: 0 10px 10px 0;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:hover .checkbox .icon {
  color: #fff;
  transform: rotate(360deg);
  transition: transform 500ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(1) {
  animation-duration: 550ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(2) {
  animation-duration: 600ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(3) {
  animation-duration: 650ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(4) {
  animation-duration: 700ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(5) {
  animation-duration: 750ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(6) {
  animation-duration: 800ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(7) {
  animation-duration: 850ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(8) {
  animation-duration: 900ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(9) {
  animation-duration: 950ms;
}
.menu_a_la_carte main .menu-container .dish-list-container .dish .dish-card-list .dish-card:nth-child(10) {
  animation-duration: 1000ms;
}
.menu_a_la_carte main .order-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.menu_a_la_carte main .order-container button {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  box-shadow: 7px 24px 29px -3px rgba(0, 0, 0, 0.1);
  width: 300px;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}
.menu_a_la_carte footer {
  width: 100vw;
  height: auto;
  background: #353535;
  display: block;
}
.menu_a_la_carte footer .logo {
  width: 100vw;
  padding: 20px;
}
.menu_a_la_carte footer .logo img {
  width: 110px;
}
.menu_a_la_carte footer .fooder-list {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
  color: #fff;
}
.menu_a_la_carte footer .fooder-list a {
  color: #fff;
}

@keyframes card-animation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.container-loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 0;
  height: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background: #fff;
  animation: loading;
  animation-duration: 2s;
  opacity: 0;
}
.container-loader .loader {
  width: 60px;
  height: 60px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 0vw;
    height: 0vh;
    visibility: hidden;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
