
@keyframes card-animation {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }