.ville
{
    @include myflex(false);
    background-color: #eaeaea;
}
.apropos
{
    @include myflex(true);
    background-color: #f7f7f7;
    height: 250px;
    text-align: center;

    
    .paragraph_apropos
    {
        width: 80%;   
    }
    .apropos_btn
    {
        background: $linear-gradient;
        height: 25px;
        // padding: 12px;
        padding: 0.75rem 1.5rem;
        color: white;
        @include myflex(false);
        border-radius: 25px;
    }
}
