.fonctionnement
{
    @include myflex(false);
    .container
    {
        width: 100%;
    }
}

ol.fonctionnement_etape
{
    @include myflex(true);
    padding: 0;
}
li.fonctionnement_etape
{
    @include myflex(false);
    list-style: none;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    counter-increment: my-awesome-counter;
    position: relative;
    text-align: center;
}
li.fonctionnement_etape::before
{
    content: counter(my-awesome-counter);
    position: absolute;
    // padding: 5px;
    top: 25px;
    left:-10px;
    // width: 10px;
    // border-radius: 10px;
    color: white;
    background-color: $color-primary;


    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fonctionnement_icone
{
    font-size: 30px;
}
.text
{
    margin-left: 10px;
}
.titre_fonctionnement
{
    margin: 2% 0px 0px 5%;
}