.alafrancaise {
  overflow-x: hidden;
  * {
    margin: 0;
    padding: 0;
  }
  $card-length: 10;
  header {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    .container-image-dish {
      width: 100vw;
      @include media(pc) {
        width: 50vw;
      }
      display: flex;
      background: #f7f7f7;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .menu-container {
      width: 100vw;
      background: #f7f7f7;
      height: auto;

      @include media(pc) {
        width: 90vw;
      }
      .menu-header {
        width: 100%;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        border-radius: 40px 40px 0 0;
        transform: translateY(-50px);
        align-items: center;
        .header-title {
          width: 90%;
          height: 100px;
          padding-left: 20px;
          font-size: 1.9rem;
          font-family: Shrikhand, Roboto, sans-serif;
          display: flex;
          justify-content: start;
          align-items: center;
        }
        .icon {
          width: 20%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 1.8rem;
          }
        }
      }
      .dish-list-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 3rem;

        @include media(pc) {
          flex-direction: row;
          gap: 1rem;

          width: auto;
        }
        .dish {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .dish-type {
            width: 100%;
            height: 25px;
            margin-left: 20px;
            h4 {
              font-weight: 400;
            }
            .bar {
              display: block;
              width: 40px;
              height: 2px;
              background: #99e2d0;
            }
          }
          .dish-card-list {
            width: 95%;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            .dish-card {
              cursor: pointer;
              width: 100%;
              height: 80px;
              display: flex;
              border-radius: 10px;
              background: #ffff;
              box-shadow: 7px 24px 29px -3px rgba(0, 0, 0, 0.1);
              animation: card-animation;

              .content {
                flex-direction: column;
                flex: 1;
                width: 100px;
                padding-top: 10px;
                h3 {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  margin-left: 10px;
                }
                p {
                  margin-left: 10px;
                  font-weight: 300;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .prise {
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
                padding-bottom: 20px;
                padding-right: 10px;
                font-weight: 600;
              }
              .checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                opacity: 0;

                width: 0;
                height: 100%;
                background: #99e2d0;
                border-radius: 0 10px 10px 0;
                transition: opacity 500ms, width 500ms, margin-left 500ms;
                .icon {
                  color: #fff;
                  transform: rotate(90deg);
                  transition: transform 500ms;
                }
              }
              &:hover {
                .prise {
                  margin-right: 10px;
                }
                .checkbox {
                  transition: opacity 500ms, width 500ms, transform 500ms;
                  opacity: 1;
                  width: 100px;
                  height: 100%;
                  background: #99e2d0;
                  border-radius: 0 10px 10px 0;
                  .icon {
                    color: #fff;
                    transform: rotate(360deg);
                    transition: transform 500ms;
                  }
                }
              }
            }
            @for $i from 1 through $card-length {
              .dish-card:nth-child(#{$i}) {
                animation-duration: calc(500 + calc($i * 50)) + ms;
              }
            }
          }
        }
      }
    }
    .order-container {
      width: 100%;
      height: auto;
      display: flex;
      margin-top: 50px;
      margin-bottom: 50px;
      align-items: center;
      justify-content: center;
      button {
        background: linear-gradient(
          to left,
          #9356dc,
          #b35cdc,
          #cf64dc,
          #e86edb,
          #ff79da
        );
        box-shadow: 7px 24px 29px -3px rgba(0, 0, 0, 0.1);
        width: 300px;
        outline: none;
        border: none;
        height: 50px;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: 800;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  footer {
    width: 100vw;
    height: auto;
    background: #353535;
    display: block;
    .logo {
      width: 100vw;
      padding: 20px;
      img {
        width: 110px;
      }
    }
    .fooder-list {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: start;
      gap: 10px;
      flex-direction: column;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}
@keyframes card-animation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
