.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  ul {
    list-style: none;
  }
  li
  {
    margin: 0.5rem 0;
    i
    { 
        margin-right: 0.5rem;
    }
  }
  a {
    color: white;
  }
  .logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    a {
      text-decoration: none;
    }
    .fas {
      padding: 5px;
    }
  }
}


.menu_a_la_carte 
{
  footer {
    width: 100%;
    height: auto;
    background: #353535;
    display: block;
    .logo {
      width: 100%;
      img {
        margin-left: 20px;
        margin-top: 20px;
        width: 110px;
      }
      @include media(pc, tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .fooder-list {
      width: 100%;
      // padding-left: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: start;
      @include media(pc, tablet) {
        align-items: center;
      }
      gap: 10px;
      flex-direction: column;
      color: #fff;
      div {
        margin-left: 20px;

        a {
          color: #fff;
        }
      }
    }
  }
}