.footer 
{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer ul
{
    list-style: none;
}
.footer a
{
    color:white;
}
.footer .logo
{
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer .container
{
    display: flex;
    flex-direction: column;
    align-items: start;
}